:root {
    --gray-1: #F1F3F5;
    --gray-2: #E9ECEF;
    --gray-3: #DEE2E6;
    --gray-4: #CED4DA;
    --gray-5: #ADB5BD;
    --gray-6: #868E96;
    --gray-7: #495057;
    --gray-8: #343A40;

    --background-color: var(--gray-1);
    --font-color: var(--gray-8);

    --social-links-background-color: var(--gray-8);
    --social-links-color: var(--gray-1);
}
