:root {
    --nord0: #2E3440;
    --nord1: #3B4252;
    --nord2: #434C5E;
    --nord3: #4C566A;

    --nord4: #D8DEE9;
    --nord5: #E5E9F0;
    --nord6: #ECEFF4;

    --nord7: #8FBCBB;
    --nord8: #88C0D0;
    --nord9: #81A1C1;
    --nord10: #5E81AC;

    --nord11: #BF616A;
    --nord12: #D08770;
    --nord13: #EBCB8B;
    --nord14: #A3BE8C;
    --nord15: #B48EAD;

    --background-color: var(--nord5);
    --font-color: var(--nord0);
    --a-color: var(--nord9);
    --a-color-hover: var(--nord10);

    --icon-color: invert(71%) sepia(7%) saturate(1433%) hue-rotate(169deg) brightness(86%) contrast(92%);
    --icon-color-hover: invert(54%) sepia(21%) saturate(873%) hue-rotate(173deg) brightness(86%) contrast(84%);

    --font-family: "JetBrains Mono";
    --paragraph-size: 18px;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: var(--paragraph-size);
    margin: 0px;
}

.navbar-toggler,
.navbar-toggler:focus {
    border: none;
}

a {
    color: var(--a-color) !important;
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--a-color-hover) !important;
}

.active {
    color: var(--a-color-hover) !important;
}

#avatar {
    border-radius: 50%;
    border: 1px solid var(--nord10);
}
